# List

We can use square bracket to define the list

In [2]:
myList = ["Sun", "Mon", "Tue"] # mutable

# Iterate the list
for lst in myList:
    print(lst)

Sun
Mon
Tue

In [3]:
# add value at the end of list
myList.append("Wed")

In [13]:
print(myList)

['Sun', 'Mon', 'Tue']

In [5]:
# we can insert value at any position
myList.insert(0, "Sat")

In [7]:
# remove last element from list
myList.pop()

'Wed'

In [9]:
# we can remove element from any position
myList.pop(0)

'Sat'

# Tuples

we can use paranthesis to define the tuples

In [22]:
tup = ("Sun", "Sat", 0, 1, 7.8, False) # immutable
print(type(tup))

<class 'tuple'>

In [23]:
# Iterate tuples
for t in tup:
    print(t)

Sun
Sat
0
1
7.8
False

In [14]:
# We can change value from any position in the list but in tuples, we can't do so.
myList[2] = "Sat"  # Correct
tup[2] = "Sat"     # Incorrect

In [15]:
print(myList)

['Sun', 'Mon', 'Sat']

In [16]:
print(tup)

('Sun', 'Sat', 0, 1, 7.8, False)

In [17]:
print(tup[5])

False

# Comment

In [19]:
# tup[5] = True  This is single line comment

In [21]:
""" This is multi-line comment
This is Python tutorial
From Basics to Project.
"""

'\nThis is python tutorial\nFrom Basics to Project.\n'